@page
@model _1.Semester_Projekt.Pages.EditModel
@{
    ViewData["BackgroundClass"] = "bg-black";
    ViewData["Title"] = "Edit Page";
}

<div class="text-center" id="Top">
    <h1 class="display-4 text-light">@ViewData["Title"]</h1>

    <a class="btn btn-orange mb-4 mt-4" asp-page="CreateFacts">Create new fact</a>
    <a class="btn btn-orange mb-4 mt-4" href="#afspillere">Afspillere</a>
    <a class="btn btn-orange mb-4 mt-4" href="#dans">Dans</a>
    <a class="btn btn-orange mb-4 mt-4" href="#fans">Fans</a>
    <a class="btn btn-orange mb-4 mt-4" href="#instrumenter">Instrumenter</a>
    <a class="btn btn-orange mb-4 mt-4" href="#kultur">Kultur</a>
    <a class="btn btn-orange mb-4 mt-4" href="#lyd">Lyd</a>
    <a class="btn btn-orange mb-4 mt-4" href="#lys">Lys</a>
    <a class="btn btn-orange mb-4 mt-4" href="#musik-genre">Musik Genre</a>
    <a class="btn btn-orange mb-4 mt-4" href="#politik">Politik</a>
</div>

<h2 class="text-light pb-2" id="afspillere">Afspillere</h2>

<table class="table table-bordered table-black">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Emne
            </th>
            <th>
                Emne Tekst
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fact in Model.AfspillereFaktas)
        {
        <tr>
            <td class="col-1">
                @fact.Value.Id
            </td>
            <td class="col-1">
                @fact.Value.Emne
            </td>
            <td class="col">
                @fact.Value.EmneTekst
            </td>
            <td class="text-center col-1">
                <a class="btn btn-orange" asp-route-id="@fact.Key" asp-route-emne="@fact.Value.Emne" asp-page="EditFact">Edit</a>
            </td>
            <td class="text-center col-1">
                <a class="btn btn-orange" asp-route-id="@fact.Key" asp-route-emne="@fact.Value.Emne" asp-page="DeleteFact">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <a href="#Top" class="text-light">Back to top</a>
</div>

<h2 class="text-light pb-2" id="dans">Dans</h2>

<table class="table table-bordered table-black">
    <thead>
        <tr>
            <th >
                ID
            </th>
            <th>
                Emne
            </th>
            <th>
                EmneTekst
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fact in Model.DansFaktas)
        {
        <tr>
            <td class="col-1">
                @fact.Value.Id
            </td>
            <td class="col-1">
                @fact.Value.Emne
            </td>
            <td class="col">
                @fact.Value.EmneTekst
            </td>
            <td class=" text-center col-1">
                <a class="btn btn-orange" asp-route-id="@fact.Key" asp-route-emne="@fact.Value.Emne" asp-page="EditFact">Edit</a>
            </td>
            <td class="text-center col-1">
                <a class="btn btn-orange" asp-route-id="@fact.Key" asp-route-emne="@fact.Value.Emne" asp-page="DeleteFact">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <a href="#Top" class="text-light">Back to top</a>
</div>

<h2 class="text-light pb-2" id="fans">Fans</h2>

<table class="table table-bordered table-black">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Emne
            </th>
            <th>
                EmneTekst
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fact in Model.FansFaktas)
        {
            <tr>
                <td class="col-1">
                    @fact.Value.Id
                </td>
                <td class="col-1">
                    @fact.Value.Emne
                </td>
                <td class="col">
                    @fact.Value.EmneTekst
                </td>
                <td class="text-center col-1">
                    <a class="btn btn-orange" asp-route-id="@fact.Key" asp-route-emne="@fact.Value.Emne" asp-page="EditFact">Edit</a>
                </td>
                <td class="text-center col-1">
                    <a class="btn btn-orange" asp-route-id="@fact.Key" asp-route-emne="@fact.Value.Emne" asp-page="DeleteFact">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <a href="#Top" class="text-light">Back to top</a>
</div>

<h2 class="text-light pb-2" id="instrumenter">Instrumenter</h2>

<table class="table table-bordered table-black">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Emne
            </th>
            <th>
                EmneTekst
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fact in Model.InstrumenterFaktas)
        {
        <tr>
            <td class="col-1">
                @fact.Value.Id
            </td>
            <td class="col-1">
                @fact.Value.Emne
            </td>
            <td class="col">
                @fact.Value.EmneTekst
            </td>
            <td class="text-center col-1">
                <a class="btn btn-orange" asp-route-id="@fact.Key" asp-route-emne="@fact.Value.Emne" asp-page="EditFact">Edit</a>
            </td>
            <td class="text-center col-1">
                <a class="btn btn-orange" asp-route-id="@fact.Key" asp-route-emne="@fact.Value.Emne" asp-page="DeleteFact">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <a href="#Top" class="text-light">Back to top</a>
</div>

<h2 class="text-light pb-2" id="kultur">Kultur</h2>

<table class="table table-bordered table-black">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Emne
            </th>
            <th>
                EmneTekst
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fact in Model.KulturFaktas)
        {
        <tr>
            <td class="col-1">
                @fact.Value.Id
            </td>
            <td class="col-1">
                @fact.Value.Emne
            </td>
            <td class="col">
                @fact.Value.EmneTekst
            </td>
            <td class="text-center col-1">
                <a class="btn btn-orange" asp-route-id="@fact.Key" asp-route-emne="@fact.Value.Emne" asp-page="EditFact">Edit</a>
            </td>
            <td class="text-center col-1">
                <a class="btn btn-orange" asp-route-id="@fact.Key" asp-route-emne="@fact.Value.Emne" asp-page="DeleteFact">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <a href="#Top" class="text-light">Back to top</a>
</div>

<h2 class="text-light pb-2" id="lyd">Lyd</h2>

<table class="table table-bordered table-black">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Emne
            </th>
            <th>
                EmneTekst
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fact in Model.LydFaktas)
        {
        <tr>
            <td class="col-1">
                @fact.Value.Id
            </td>
            <td class="col-1">
                @fact.Value.Emne
            </td>
            <td class="col">
                @fact.Value.EmneTekst
            </td>
            <td class="text-center col-1">
                <a class="btn btn-orange" asp-route-id="@fact.Key" asp-route-emne="@fact.Value.Emne" asp-page="EditFact">Edit</a>
            </td>
            <td class="text-center col-1">
                <a class="btn btn-orange" asp-route-id="@fact.Key" asp-route-emne="@fact.Value.Emne" asp-page="DeleteFact">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <a href="#Top" class="text-light">Back to top</a>
</div>

<h2 class="text-light pb-2" id="lys">Lys</h2>

<table class="table table-bordered table-black">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Emne
            </th>
            <th>
                EmneTekst
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fact in Model.LysFaktas)
        {
        <tr>
            <td class="col-1">
                @fact.Value.Id
            </td>
            <td class="col-1">
                @fact.Value.Emne
            </td>
            <td class="col">
                @fact.Value.EmneTekst
            </td>
            <td class="text-center col-1">
                <a class="btn btn-orange" asp-route-id="@fact.Key" asp-route-emne="@fact.Value.Emne" asp-page="EditFact">Edit</a>
            </td>
            <td class="text-center col-1">
                <a class="btn btn-orange" asp-route-id="@fact.Key" asp-route-emne="@fact.Value.Emne" asp-page="DeleteFact">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <a href="#Top" class="text-light">Back to top</a>
</div>

<h2 class="text-light pb-2" id="musik-genre">Musik Genre</h2>

<table class="table table-bordered table-black">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Emne
            </th>
            <th>
                EmneTekst
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fact in Model.MusikGenreFaktas)
        {
        <tr>
            <td class="col-1">
                @fact.Value.Id
            </td>
            <td class="col-1">
                @fact.Value.Emne
            </td>
            <td class="col">
                @fact.Value.EmneTekst
            </td>
            <td class="text-center col-1">
                <a class="btn btn-orange" asp-route-id="@fact.Key" asp-route-emne="@fact.Value.Emne" asp-page="EditFact">Edit</a>
            </td>
            <td class="text-center col-1">
                <a class="btn btn-orange" asp-route-id="@fact.Key" asp-route-emne="@fact.Value.Emne" asp-page="DeleteFact">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <a href="#Top" class="text-light">Back to top</a>
</div>

<h2 class="text-light pb-2" id="politik">Politik</h2>

<table class="table table-bordered table-black">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Emne
            </th>
            <th>
                EmneTekst
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fact in Model.PolitikFaktas)
        {
        <tr>
            <td class="col-1">
                @fact.Value.Id
            </td>
            <td class="col-1">
                @fact.Value.Emne
            </td>
            <td class="col">
                @fact.Value.EmneTekst
            </td>
            <td class="text-center col-1">
                <a class="btn btn-orange" asp-route-id="@fact.Key" asp-route-emne="@fact.Value.Emne" asp-page="EditFact">Edit</a>
            </td>
            <td class="text-center col-1">
                <a class="btn btn-orange" asp-route-id="@fact.Key" asp-route-emne="@fact.Value.Emne" asp-page="DeleteFact">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <a href="#Top" class="text-light">Back to top</a>
</div>
