@page
@model _1.Semester_Projekt.Pages.EditModel
@{
    ViewData["Title"] = "Edit Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<a class="btn btn-orange mb-4 mt-4" asp-page="CreateFacts">Create new fact</a>

<table class="table table-bordered table-black">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Emne
            </th>
            <th>
                EmneTekst
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Faktas)
        {            
        <tr>
            <td>
                @item.Value.Id
            </td>
            <td>
                @item.Value.Emne
            </td>
            <td>
                @item.Value.EmneTekst
            </td>
            <td>
                <a class="btn btn-orange" asp-route-id="@item.Key" asp-page="EditFact">Edit</a>                
            </td>
            <td>
                <a class="btn btn-orange" asp-route-id="@item.Key" asp-page="DeleteFact">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>