@page
@model _1.Semester_Projekt.Pages.EditFactModel
@using _1.Semester_Projekt.Models
@{
}

<h1>Edit Afspillere</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="@Model.Fakta.Id" class="control-label"></label>
        <input asp-for="@Model.Fakta.Id" class="form-control" />
        <span asp-validation-for="@Model.Fakta.Id" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Fakta.Emne" class="control-label"></label>
        <select asp-for="@Model.Fakta.Emne" class="form-control" asp-items="Html.GetEnumSelectList<Emner>()"><option>Vælg Emne</option></select>
        <span asp-validation-for="@Model.Fakta.Emne" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Fakta.EmneTekst" class="control-label"></label>
        <input asp-for="@Model.Fakta.EmneTekst" class="form-control" />
        <span asp-validation-for="@Model.Fakta.EmneTekst" class="text-danger"></span>
    </div>
    <input type="submit" value="Submit" class="btn btn-orange" />
    <a class="btn btn-danger" asp-page="Edit">Cancel</a>
</form>
