@page
@model _1.Semester_Projekt.Pages.EditModel
@{
    ViewData["Title"] = "Edit Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<a class="btn btn-orange mb-4 mt-4" asp-page="CreateFacts">Create new fact</a>

<table class="table table-bordered table-black">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Emne
            </th>
            <th>
                EmneTekst
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Faktas)
        {
        <tr>
            <td>
                @item.Value.Id
            </td>
            <td>
                @item.Value.Emne
            </td>
            <td>
                @item.Value.EmneTekst
            </td>
            <td>
                <p>
                    <button type="button" class="btn btn-orange" data-toggle="modal" data-target="#delete-modal-@item.Value.Id">Delete</button>

                    <div class="modal fade" id="delete-modal-@item.Value.Id" role="dialog" style="color: black">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3>Confirm delete</h3>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete this fact? <q style="color: red;">@item.Value.Emne</q></p>
                                    <button class="btn btn-success" data-dismiss="modal">Yes</button>
                                    <button class="btn btn-danger" data-dismiss="modal">No</button>
                                </div>
                                <div class="modal-footer">                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </p>
            </td>
        </tr>
        }
    </tbody>
</table>