@page
@model _1.Semester_Projekt.Pages.CRUD.EditDansModel
@{
}

<h1>Edit Dans</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="@Model.Dans.Id" class="control-label"></label>
        <input asp-for="@Model.Dans.Id" class="form-control" />
        <span asp-validation-for="@Model.Dans.Id" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Dans.EmneTekst" class="control-label"></label>
        <input asp-for="@Model.Dans.EmneTekst" class="form-control" />
        <span asp-validation-for="@Model.Dans.EmneTekst" class="text-danger"></span>
    </div>
    <input type="submit" />
</form>